.hash    { color:grey;       }
.op      { color:orange;     }
.lg      { color:yellow;     }
.clazz   { color:lightblue;  }
.slot    { color:lightgreen; }
.comment { color:grey;       }
.integer { color:#0DD;       }
